.article {
  width: 100%;
}

.article .title {
  padding: 24px 24px 0px 18px;
}

.article .panel {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.article .panel .input {
  margin-right: 16px;
}

.card {
  margin-bottom: 6px;
}

.noResult h3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.isLoading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}